@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #6610f2; /* Example color */
    --secondary-color: #28a745; /* Example color */
    --text-white: #ffffff;
    --text-black: #000000;
    --text-purple: #6a0dad;
    --background: #f0f0f0;
    --foreground: #333333;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  

  .spinner-border {
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media print {
    /* Hide elements that shouldn't appear in the print version */
    body * {
        visibility: hidden;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}

